<footer class="container p-5">
    


    <div class="row justify-content-between align-items-center">
        <h1>
            <img width="60" src="assets/img/logo_g.png" alt="Vao">
        </h1>
        <div class="row justify-content-center align-items-center p-5">
            <fa-icon size="3x" class="text-color1 cursor" [icon]="faInstagram"></fa-icon>
            <fa-icon size="2x" class="ml-4 text-color1 cursor" [icon]="faFacebookF"></fa-icon>
            <fa-icon size="3x" class="ml-4 text-color1 cursor" [icon]="faYoutube"></fa-icon>
        </div>
    </div>

    <div class="mt-5 row m-0">
        <div>
            <p>
            Calle Luis Agurto 157, Cercado de Lima <br>
            atc@vaoperu.com<br>
            Whatsapp: 947353401<br>
            Teléfono: +51 989 050 344
        </p>
        </div>
    </div>

    <hr class="separator">

    <div class="row m-0 justify-content-end">
        <span>
            <a href="#" class="link-unstyled font-300 f-9">Política de privacidad | </a>
            <a href="#" class="link-unstyled font-300 f-9">Términos y condiciones | </a>
            <span class="link-unstyled font-300 f-9">© 2022 VaoPeru</span>    
        </span>
    </div>
</footer>