@import './../../../styles/variables';

.image{
    min-width: 100%;
    min-height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    

    .content-slide{        
        min-width: auto;             
    }
}
.icon{
    min-width: 30px;
    min-height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-categories{
    max-width: 30px;
    min-height: 34px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
}

.item-carousel{
    min-height: 90px;
}


@media (min-width: 1024px) {
    .image{               
        min-height: 500px;
    }
}


.categories{
    padding-top: 100px;
    padding-bottom: 100px;


    .card-category{
        width: auto;
        min-height: 380px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.image-footer{
    min-width: 100vw;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}



@media (max-width: 1470px) {
    .item-carousel{               
        min-height: 110px;
    }
}

@media (max-width: 1036px) {
    .item-carousel{               
        min-height: 110px;
        min-width: 120px;
        h6{
            font-size: 9pt;
            font-weight: 400;
        }
    }
}