<app-header [eventHeader]="eventHeader"></app-header>

<div  class="w-100 mt-2 mb-3 px-3 d-flex justify-content-start">
  <button routerLink="/" class="mt-4 bg-transparent px-2 f-14 font-500 border-0 d-flex align-items-center justify-content-center rounded-pill text-color5">
      <fa-icon class="f-14 icon-search mr-2 text-color5" [icon]="faArrowLeft"></fa-icon>
      Atrás
  </button>
</div>

<div *ngIf="profileProvider" class="container-fluid mt-4 p-0">
    <div class="row m-0 p-0 justify-content-center">
        <div class="cont d-flex justify-content-sm-center px-3">
            <div class="d-flex container-profile">
              <div class="image image-profile" [ngStyle]="{'background-image': 'url('+profileProvider.image+')'}"></div>
              <div class="ml-4 my-auto">
                <h1 class="f-18 font-600 mt-xl-0 text-left">{{profileProvider.comercialName}}</h1>
                  <p class="mt-2">{{profileProvider.description}}</p>
                      <div class="d-flex">
                          <a href="tel:{{profileProvider.phone}}" target="_blank" title="Llamar" class="link-unstyled p-1 bg-color2 rounded-circle icon d-flex justify-content-center align-items-center">
                              <fa-icon class="f-13 text-white fa-rotate-90" [icon]="faPhone"></fa-icon>
                          </a>
                          <a href="https://wa.me/{{profileProvider.whatsapp | whatsapp}}?text=Hola! {{profileProvider.comercialName}}" title="Whatsapp" class="ml-2 p-1 bg-color1 rounded-circle icon d-flex justify-content-center align-items-center">
                              <fa-icon class="f-15 text-white" [icon]="faWhatsapp"></fa-icon>
                          </a>
                      </div>
                      <div class="mt-3 mt-sm-4">
                        <button *ngIf="!isFavorite(profileProvider._id)" (click)="addfavorites()" class="cursor bg-color1 border-0 py-2 px-4 px-sm-5 text-white f-8 font-500">Información</button>

                        <button *ngIf="isFavorite(profileProvider._id)" (click)="confirmDeleteFavorites(profileProvider._id)" class="cursor pl-2 pr-2 bg-color2 border-0 p-1 rounded-pill f-9 font-500">
                            <fa-icon class="f-13" [icon]="faStar"></fa-icon>
                        </button>
                      </div>
              </div>
            </div>
        </div>
        <div class="w-100 m-0 p-0 mt-5">
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel *ngFor="let tab of tabs"><div  class="w-100 px-3 d-flex justify-content-end pr-4">

                  <button (click)="allproduct()" class="mt-4 bg-transparent f-14 border-0 p-0 text-color5">
                    Ver todos
                  </button>
                </div>
                    <ng-template pTemplate = "header">
                        <span class="f-12 font-300">{{tab.title}}</span>
                    </ng-template>
                    <app-product-list *ngIf="tab.title!=='Información'" [type]="tab.title" [profileProviderId]="profileProvider._id" [items]="tab.data" [rows]="3"></app-product-list>
                    <app-information *ngIf="tab.title==='Información'" [profileProvider]="profileProvider" ></app-information>
                </p-tabPanel>

            </p-tabView>
        </div>

    </div>
    <!-- <div class="row">
        <h3 class="text-center mt-5 w-100 px-3 text-color1">Todos nuestros productos</h3>
        <app-product-list [type]="'Productos'" [profileProviderId]="profileProvider._id"  [items]="products" [rows]="9"></app-product-list>
    </div> -->
</div>
