<app-header [eventHeader]="eventHeader"></app-header>

<div *ngIf="profileProvider" class="container-fluid p-2 p-xl-5">
    <div class="row">
        <div class="cont d-flex justify-content-center">
            <div class="container-profile">            
                <h1 class="h3 mt-3 mt-xl-0 text-center text-xl-left">{{profileProvider.comercialName}}</h1>
                <div class="image image-profile" [ngStyle]="{'background-image': 'url('+profileProvider.image+')'}"></div>
                <p class="mt-2">{{profileProvider.description}}</p>
                <div class="m-0 col-12 p-0 row justify-content-between align-items-center">
                    <div class="row m-0">
                        <a href="tel:{{profileProvider.phone}}" target="_blank" title="Llamar" class="link-unstyled p-0 bg-color2 rounded-circle icon d-flex justify-content-center align-items-center">
                            <fa-icon class="f-13" [icon]="faPhone"></fa-icon>
                        </a>
                        <a href="https://wa.me/{{profileProvider.whatsapp | whatsapp}}?text=Hola! {{profileProvider.comercialName}}" title="Whatsapp" class="ml-2 p-0 bg-color1 rounded-circle icon d-flex justify-content-center align-items-center">
                            <fa-icon class="f-15 text-white" [icon]="faWhatsapp"></fa-icon>
                        </a>
                    </div>
                    <button *ngIf="!isFavorite(profileProvider._id)" (click)="addfavorites()" class="cursor pl-2 pr-2 bg-color2 border-0 p-1 rounded-pill f-9 font-500">Agregar a favoritos</button>
                       
                    <button *ngIf="isFavorite(profileProvider._id)" (click)="confirmDeleteFavorites(profileProvider._id)" class="cursor pl-2 pr-2 bg-color2 border-0 p-1 rounded-pill f-9 font-500">
                        <fa-icon class="f-13" [icon]="faStar"></fa-icon>
                    </button>               
                </div>            
            </div>
        </div>
        <div class="col-12 col-xl px-2 px-xl-5 pt-5 pt-xl-0">
            <p-tabView styleClass="tabview-custom">
                <p-tabPanel *ngFor="let tab of tabs">
                    <ng-template pTemplate = "header">
                        <span class="text-color1 f-12 font-300">{{tab.title}}</span>
                    </ng-template>
                    <app-product-list *ngIf="tab.title!=='Información'" [type]="tab.title" [profileProviderId]="profileProvider._id" [items]="tab.data" [rows]="3"></app-product-list>
                    <app-information *ngIf="tab.title==='Información'" [profileProvider]="profileProvider" ></app-information>
                </p-tabPanel>
                
            </p-tabView>
        </div>

    </div>
    <div class="row">    
        <h3 class="text-center mt-5 w-100 px-3 text-color1">Todos nuestros productos</h3>
        <app-product-list [type]="'Productos'" [profileProviderId]="profileProvider._id"  [items]="products" [rows]="9"></app-product-list>
    </div>
</div>