.image-profile{
    min-width: 240px;
    max-width: 240px;
    min-height: 240px;
    max-height: 240px;
    @media (max-width: 520px) {
      min-width: 160px;
      max-width: 160px;
      min-height: 160px;
      max-height: 160px;
    }
}

.icon{
    cursor: pointer;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}

.parraf{
  max-width: 200px;
  // text-align: justify;
}
