.section-offers{
    max-width: 100% !important;
}

.container-cropper {
  max-width: 300px;
}

.image2 {
  min-width: 300px;
  min-height: 300px;
}

.image-miniature {
  min-height: 100px;
  min-width: 100px;
}
