@import '../../../../styles/variables';

input{
    border: 0;
    border-radius: 40px;
    border-bottom: solid 2px;
    border-bottom-color: $color1;
    font-weight: 300;
    padding-bottom: 4px !important;
    padding-top: 4px !important;
    padding-left: 24px;
    padding-right: 24px;
    min-height: 60px !important;
    max-height: 60px !important;
}

.input-password{
    position: relative;
    .icon-eye{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
    }
}

.invalid{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}
.height-76{
  height: 76vh;
}
.btn1{
  min-height: 60px !important;
  border-radius: 40px;
}
