<div class="row col-12 pl-0 pr-0 m-0 slide-products">
    <div class="col-12 col-md-3 p-0 row m-0 justify-content-center align-items-center flex-column">
        <h2 class="font-300">{{title}}</h2>
        <a class="link-unstyled" href="{{link}}">Ver todos</a>
    </div>

    <div class="col-12 col-md-9">
        <p-carousel [value]="products" [numVisible]="4" [numScroll]="1">
            <ng-template let-item pTemplate="item">
                <div class="product row flex-column justify-content-center align-items-center cursor pt-4 pb-4">
                    <div [ngStyle]="{ 'background-image': 'url('+item.image+')'}" class="image-product"></div>
                    <span class="font-500 f-10 mt-5">{{item.name}}</span>
                    <span class="font-300 f-11 mt-2">S/ {{item.price}}</span>
                </div>
            </ng-template>
        </p-carousel>
    </div>


</div>