<div class="d-flex m-0 ">
    <app-menu-provider class="d-none d-md-flex"></app-menu-provider>
    <div class="flex-1">
        <app-header-provider></app-header-provider>
        <div class="p-4 p-md-5">
            <div class="row m-0 justify-content-between align-items-center">
                <h4>Productos</h4>
                <div class="mb-3 mb-md-0">
                  <button class="button1 btn2 mr-2 mr-lg-4" (click)="addEditCategories()">
                    <i class="pi pi-plus mr-2"></i>
                    Categoría
                </button>
                  <button class="mt-2 mt-sm-0 button1 btn2" (click)="addEdit()">
                      <i class="pi pi-plus mr-2"></i>
                      Agregar
                  </button>
                </div>
            </div>
            <div class="section-products col-4 p-0">
                <app-product-list [profileProviderId]="profileProvider._id" *ngIf="items?.length>0" [items]="items" (productsEvent)=productListEvent($event)></app-product-list>
            </div>
        </div>
    </div>
</div>
<p-dialog
    header=""
    [(visible)]="displayCategories"
    [modal]="true"
    [styleClass]="'modalLogin'"
    [baseZIndex]="10000"
    [autoZIndex]="false"
    [draggable]="false"
    [resizable]="false"
    (onHide)="currentCategoryReset()"
>

    <div class="px-5 pb-5">
      <ul class="opts list-unstyled pt-2">
        <li class="border cursor pl-2 d-flex justify-content-between" *ngFor="let cat of categories">
          {{cat.name}}
          <div>
            <button (click)="deleteCategory(cat)" class="border-0 bg-color2 text-white mr-2">
              <i class="pi pi-trash"></i>
            </button>
            <button (click)="editCategory(cat)" class="border-0 bg-color2 text-white">
              <i class="pi pi-pencil"></i>
            </button>
          </div>
        </li>
      </ul>
      <input type="text" class="mt-3" placeholder="Categoría" [(ngModel)]="currentCategory.name">
      <span class="mt-3 text-color1 d-flex justify-content-center">{{responseCategory}}</span>
      <button (click)="saveCategory()" class="btn1 mt-3 col-12">Guardar</button>
    </div>

</p-dialog>

<p-dialog
    header=""
    [(visible)]="displayModal"
    [modal]="true"
    [styleClass]="'modalLogin'"
    [baseZIndex]="10000"
    [autoZIndex]="false"
    [draggable]="false"
    [resizable]="false">


    <div class="col-12 row m-0 justify-content-center pb-5">
        <div class="row m-0 p-0 flex-column col-12 col-md-10">
            <div class="row align-items-center m-0">
                <p-inputSwitch [(ngModel)]="currentItem.isFeatured"></p-inputSwitch>
                <label class="ml-4">Destacado</label>
            </div>
            <input type="text" class="mt-3" [(ngModel)]="currentItem.name" (keyup)="invalid.name=false" [ngClass]="{'invalid': invalid.name}" [placeholder]="'Producto'">
            <div class="mt-3" [ngClass]="{'invalid': invalid.images}">
                <p-fileUpload
                    #fileUpload
                    styleClass="col-12 btn2"
                    mode="basic"
                    accept="image/*"
                    [fileLimit]="5"
                    [multiple]="true"
                    [maxFileSize]="2000000"
                    (onSelect)="onUpload($event, fileUpload); invalid.images=false"
                    [chooseLabel]="'Subir Imágenes'"
                    uploadLabel="Subir"
                    cancelLabel="Cancelar"
                    [files]="images"
                    [auto]="false"
                    invalidFileSizeMessageDetail="El tamaño máximo es {0}.">
                </p-fileUpload>
                <div [style]="{'width': (uploadPercent)+'%'}" class="loading"></div>
            </div>
            <div *ngIf="currentImages" class="row m-0 justify-content-center align-items-center mt-2">
                <div *ngFor="let currentImage of currentImages" class="image-miniature m-2" [ngStyle]="{'background-image': 'url('+getBlobOrImage(currentImage)+')'}">
                    <div (click)="removeImage(currentImage)" class="delete">
                        <i class="pi pi-trash text-white f-20"></i>
                    </div>
                </div>
            </div>
            <textarea cols="30" rows="5" [(ngModel)]="currentItem.description" [ngClass]="{'invalid': invalid.description}" [placeholder]="'Descripción'"></textarea>
            <input type="text" class="mt-3" [(ngModel)]="currentItem.price" (keyup)="invalid.price=false" [ngClass]="{'invalid': invalid.price}" [placeholder]="'Precio'">
            <input type="text" class="mt-3" [(ngModel)]="currentItem.promotionalPrice" [placeholder]="'Precio promocional'">
            <select class="mt-3" [(ngModel)]="currentItem.categoryId">
              <option value="">Seleccione la categoria</option>
              <option *ngFor="let category of categories" [value]="category._id">{{category.name}}</option>
            </select>
            <button (click)="presave()" class="btn1 mt-4">Guardar</button>
            <button *ngIf="currentItem._id" (click)="confirm($event, currentItem)" class="btn3 bg-color6 pt-2 pb-2 mt-2">Eliminar</button>
        </div>
    </div>

</p-dialog>

<p-dialog
    header=""
    [(visible)]="displayModalCroper"
    [modal]="true"
    (onHide)="resetUploadButton()"
    [styleClass]="'modalLogin'"
    [baseZIndex]="10000"
    [autoZIndex]="true"
    [draggable]="false"
    [resizable]="false">
    <div class="d-flex justify-content-center flex-column align-items-center flex-md-row">
        <div class="container-cropper p-3">
            <angular-cropper #angularCropper (dragMode)="'none'"  (cropmove)="moveCropper()" [cropperOptions]="config" [imageUrl]="imageUrl"></angular-cropper>
        </div>
        <div class="p-3">
            <div class="image image2" [ngStyle]="{'background-image': 'url('+dataImage+')'}"></div>
        </div>
    </div>
    <div class="col-12 d-flex justify-content-center pb-5">
        <button class="btn1" (click)="cropper()">Subir</button>
    </div>
</p-dialog>

<p-confirmPopup [autoZIndex]="false" [baseZIndex]="1000001"></p-confirmPopup>
