<app-header [eventHeader]="eventHeader"></app-header>

<div  class="w-100 mt-2 mb-3 pl-4 d-flex justify-content-start">
  <button (click)="allproduct()" class="mt-4 bg-transparent px-2 f-14 font-500 border-0 d-flex align-items-center justify-content-center rounded-pill text-color5">
      <fa-icon class="f-14 icon-search ml-2 text-color5" [icon]="faArrowLeft"></fa-icon>
      Atrás
  </button>
</div>

<div *ngIf="products" class="mt-4 px-4">
      <h3 class="mt-2 mb-3 w-100 text-color5">Productos</h3>
      <app-product-list [type]="'Productos'" [profileProviderId]="profileProvider._id"  [items]="products" ></app-product-list>
</div>
