<header class="row m-0 justify-content-between align-items-center bg-color1 p-4">
   
    <img width="60" src="assets/img/logo.png" alt="VaoPerú">
    <div class="input-search d-none d-md-flex align-items-center">
        <fa-icon class="icon-search" [icon]="faSearch"></fa-icon>
        <input class="search f-10 pt-2" type="search" placeholder="¿Qué estás buscando?">
        <button class="btn2">Buscar</button>
    </div>
    <div class="row mt-2">
        <ul class="list-unstyled row m-0">
            <ng-container *ngIf="!user">
                <li (click)="openLogin()" class="mr-4 text-white cursor f-12">Ingresar</li>              
            </ng-container>
            <ng-container *ngIf="user">
                <li *ngIf="user.role === 'admin' || user.role === 'provider'" (click)="redirect(user.role)" class="mr-4 text-white cursor f-12">Mi cuenta</li>
            </ng-container>
        </ul>
        <div (click)="toogleMenu()" class="menu d-flex flex-column cursor mr-3">
            <label></label>
            <label></label>
            <label></label>
        </div>    
    </div>  

    <div class="d-flex d-md-none justify-content-center mt-3 m-0 p-0 col-12">
        <div class="input-search d-flex align-items-center m-0 col-12 p-0">
            <fa-icon class="icon-search" [icon]="faSearch"></fa-icon>
            <input class="search f-10 pt-2 col-9" type="search" placeholder="¿Qué estás buscando?">
            <button class="btn2 col-3">Buscar</button>
        </div>

    </div>
    
       
</header>

<p-sidebar [(visible)]="display" position="right" styleClass="bg-color2">
    <ul class="list-unstyled d-flex flex-column pl-5 pt-5">
        <h1 class="font-t font-900 font-italic text-white mt-5">
            <img width="140" src="assets/img/logo.png" alt="">
        </h1>
        <li class="cursor mt-2 font-500 text-black f-12 mt-5">Inicio</li>
        <li class="cursor mt-2 font-500 text-black f-12">Favoritos</li>               
        <li (click)="logout()" *ngIf="user" class="cursor mt-5 font-500 text-black f-12">Cerrar Sesión</li>        
    </ul>
</p-sidebar>

<p-dialog 
    header="" 
    [(visible)]="displayModal" 
    [modal]="true" 
    [styleClass]="'modalLogin'" 
    [baseZIndex]="10000"
    [draggable]="false"
    [resizable]="false">
    <app-authlogin (send)="output($event)"></app-authlogin>
</p-dialog>
