@import '../../../../styles/variables';


::placeholder{
    font-size: 11pt;
}
.cont-header{
    padding-top: 68px;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    .input-search{
        position: relative;
        .icon-search{
            position:absolute;
            top: 7px;
            right: 25px;
            font-size: 20px;
            color: $color1;
            z-index: 1;
        }
        .search{
            font-size: 12pt;
            text-align: center;
            min-height: 40px;
            border-radius: 20px;
            border: 0;
            font-weight: 300;
            padding-bottom: 4px;
            padding-left: 40px;
            padding-right: 0px;
        }
        .btn2{
            max-height: 40px !important;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
        }
    }
    .logo{
        max-width: 140px;
        min-width: 140px;
    }
    .menu{
        label{
            min-width: 30px;
            min-height: 3px;
            max-height: 3px;
            background-color: $color1;
        }
    }
    .shopping-cart{
        min-width: 40px;
        min-height: 40px;
        position: relative;
        .badge{
            position: absolute;
            top: -10px;
            right: -10px;
        }
    }
}

.p-menuitem:hover{
    background-color: white !important;
}


@media screen and (max-width: 1024px) {
    .input-search{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(194,184,194,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(194,184,194,1);
        box-shadow: 0px 0px 5px 0px rgba(194,184,194,1);
        border-radius: 20px;
    }
}

@media screen and (max-width: 768px) {
    .cont-header{
        padding-top: 60px;
    }

  }

  @media screen and (max-width: 400px){
    .search{
      font-size: 10pt;
      width: 180px;
      max-height: 20px;
    }
  }
