@import '../../../../styles/variables';

*{
    font-size: 11pt;
}
::placeholder{
    font-size: 11pt;
}

header{    
    .input-search{        
        position: relative;
        .icon-search{
            position:absolute;
            top: 7px;
            left: 10px;
            font-size: 20px;
            color: $color6;
            z-index: 1;
        }       
        .search{
            font-size: 12pt;
            text-align: center;
            min-height: 40px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border: 0;
            font-weight: 300;
            padding-bottom: 4px;
            padding-left: 40px;
            padding-right: 24px;            
        }
        .btn2{
            max-height: 40px !important;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;            
        }
    }
    .logo{
        max-width: 140px;
        min-width: 140px;
    }    
    .menu{
        label{
            min-width: 30px;
            min-height: 3px;
            max-height: 3px;
            background-color: white;
        }
    }  
}

.p-menuitem:hover{
    background-color: white !important;
}


@media screen and (max-width: 1024px) {
    .input-search{
        -webkit-box-shadow: 0px 0px 5px 0px rgba(194,184,194,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(194,184,194,1);
        box-shadow: 0px 0px 5px 0px rgba(194,184,194,1);
        border-radius: 20px;
    }
}

