<div class="p-5">
    <div class="row m-0 justify-content-between align-items-center">
        <h4>Usuarios</h4>
        <button class="btn2" (click)="addEdit()">
            <i class="pi pi-plus mr-2"></i>
            Agregar
        </button>
    </div>
    
    <div class="mt-5">
        <p-orderList 
        header="Lista de usuarios"
        filterPlaceholder="Buscar por nombre"
        filterBy="name"
        [value]="items" 
        [listStyle]="{'max-height':'30rem'}"
        [dragdrop]="true">
            <ng-template let-item pTemplate="item" class="mt-3">
                <div draggable="true" class="item-list row justify-content-between align-items-center m-0 pl-2 pr-2">
                    <div>
                        <span class="font-700">Nombre :</span><span class="ml-3">{{item.name}}</span>
                    </div>
                    <div>
                        <button (click)="addEdit(item)" class="btn2 p-0 pl-3 pr-3">Editar</button>
                    </div>
                </div>
            </ng-template>
        </p-orderList>
    </div>
</div>


<p-dialog 
    header="" 
    [(visible)]="displayModal" 
    [modal]="true" 
    [styleClass]="'modalLogin'" 
    [baseZIndex]="10000"
    [autoZIndex]="false"
    [draggable]="false"
    [resizable]="false">

    <div class="col-12 row m-0 justify-content-center">
        <div class="row m-0 p-0 flex-column col-12 col-md-6">            
            <input type="text" (keyup.enter)="add()" (keyup)="invalid.name=false" [(ngModel)]="currentItem.name" class="invalid mt-3 input-login" [ngClass]="{'invalid': invalid.name}" [placeholder]="'Nombre'">  
            <input type="email" (keyup.enter)="add()" (keyup)="invalid.email=false" [(ngModel)]="currentItem.email" class="invalid mt-3 input-login" [ngClass]="{'invalid': invalid.email}" [placeholder]="'Correo'">
            <button *ngIf="currentItem._id" class="btn1 mt-3">Resetar contraseña</button>      
            <label class="mt-3">Seleccione los roles</label>
            <p-listbox 
            [options]="roles" 
            [(ngModel)]="currentItem.role" 
            optionLabel="name" 
            optionValue="key" 
            [multiple]="true"
            [metaKeySelection]="false"
            [checkbox]="true" 
            [filter]="true"
            ></p-listbox>          
            <button (click)="add()" class="btn1 mt-4">Guardar</button>            
            <button *ngIf="currentItem._id" (click)="confirm($event, currentItem)" class="btn3 bg-color6 pt-2 pb-2 mt-2">Eliminar</button>             
        </div>
    </div>

</p-dialog>

<p-confirmPopup [autoZIndex]="false" [baseZIndex]="1000001" ></p-confirmPopup>

