@import 'styles/comidas.style.scss';
@import 'styles/mascotas.style.scss';
@import 'styles/salud.style.scss';
@import 'styles/hogar.style.scss';

//SWIPE

.cont{
  position: relative;
  overflow: hidden;
  min-height: 190px;
  .swipe-cont{
    position: absolute;
    top: 0;
    left: 0;
  }
}
