$size: 175px;
$size2: 80px;

.items{
  max-height: $size;
}

.icon-category{
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
    border-radius: 8px;
    background-position: center;
    background-size: 70%;
    box-shadow: 0px -1px 5px 1px rgba(166,166,166,0.84);
    -webkit-box-shadow: 0px -1px 5px 1px rgba(166,166,166,0.84);
    -moz-box-shadow: 0px -1px 5px 1px rgba(166,166,166,0.84);
}
.label-category{
    width: $size;
    overflow: hidden;
    overflow-wrap: break-word;
}

.icon-category2{
    min-width: $size2;
    min-height: $size2;
    max-width: $size2;
    max-height: $size2;
    border-radius: 8px;
    background-position: center 25%;
    background-size: 50%;
    box-shadow: 0px -1px 5px 1px rgba(166,166,166,0.84);
    -webkit-box-shadow: 0px -1px 5px 1px rgba(166,166,166,0.84);
    -moz-box-shadow: 0px -1px 5px 1px rgba(166,166,166,0.84);
}
.label-category2{
    width: $size2;
    overflow: hidden;
    overflow-wrap: break-word;
    line-height: 1;
}





//SWIPE

.cont{
  position: relative;
  overflow: hidden;
  min-height: 190px;
  .swipe-cont{
    position: absolute;
    top: 0;
    left: 0;
  }
}

