@import 'styles/type1.style.scss';
@import 'styles/type2.style.scss';
@import 'styles/type3.style.scss';
@import 'styles/type4.style.scss';

//SWIPE

.cont{
  position: relative;
  overflow: hidden;
  min-height: 190px;
  .swipe-cont{
    position: absolute;
    top: 0;
    left: 0;
  }
}
