@import '../../../../styles/variables';

$size: 180px;
.company{
  position: relative;
  overflow: hidden;
    .image-company{
        background-repeat: no-repeat;
        background-size: cover;
        min-height: $size;
        min-width: $size;
        max-width: $size;
        margin: auto !important;
        border-radius: 10px;
    }
    .image-company-responsive{
      background-repeat: no-repeat;
      background-size: cover;
      width: 120px;
      height: 120px;
      border-radius: 10px;
      @media (max-width: 504px) {
      }
      border: none!important;
      border-width: 0!important;
    }
    .address{
        min-height: 30px;
    }
    .icon{
        cursor: pointer;
        min-width: 26px;
        min-height: 26px;
        max-width: 26px;
        max-height: 26px;
    }
}
