@import '../../../../styles/variables';

$size: 180px;
.company{
  position: relative;
  overflow: hidden;
    .image-company{
        background-repeat: no-repeat;
        background-size: cover;
        min-height: $size;
        min-width: $size;
        max-width: $size;
        margin: auto !important;
        border-radius: 10px;
    }
    .image-company-responsive{
      background-repeat: no-repeat;
      background-size: cover;
      min-height: $size;
      min-width: $size;
      max-width: $size;
      border-radius: 10px;
  }
    .address{
        min-height: 30px;
    }
    .icon{
        cursor: pointer;
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;
    }
}
