@import '../../../../styles/variables';

$size: 280px;
.promotion{
    border-radius: 10px;  
    position: relative;
    overflow: hidden;
    .image-promotion{
        background-repeat: no-repeat;
        background-size: cover;
        min-height: $size;
        min-width: $size;
        max-width: $size;
        margin: auto !important;
    }
    .address{
        min-height: 30px;
    }
    .icon{
        cursor: pointer;
        min-width: 32px;
        min-height: 32px;
        max-width: 32px;
        max-height: 32px;
    }
}

.slide-promotion{
    max-width: $size;
}
