<div class="mt-5 promotion-list">

    <p-dataView [value]="items" [paginator]="true" [rows]="9" filterBy="name" layout="grid">
               
        <ng-template let-promotion pTemplate="gridItem">
            <div class="promotion shadow mb-3 ml-3 mr-3">
                <div class="slide-promotion">
                    <p-carousel [value]="promotion.images" [numVisible]="1" [numScroll]="1" [autoplayInterval]="6000" [indicatorsContentClass]="'d-none'">
                        <ng-template let-item pTemplate="item">
                            <div [ngStyle]="{ 'background-image': 'url('+item+')'}" class="image image-promotion"></div>
                        </ng-template>
                    </p-carousel>
                </div>
                <div class="p-3 d-flex flex-column justify-content-between align-items-start">
                    <div class="d-flex justify-content-cen">
                        <h5 class="title font-400 cursor">{{promotion.name}}</h5>
                        <h5 class="title font-400 cursor">{{getPrice(promotion.price)}}</h5>
                    </div>
                    <p class="font-300 mt-2 f-10 address">{{promotion.description}}</p>
                    <div *ngIf="profileProviders" class="m-0 col-12 p-0 row justify-content-between align-items-center">
                        <div class="row m-0">
                            <a href="tel:{{getDataProvider(promotion.profileProviderId, 'phone')}}" target="_blank" title="Llamar" class="link-unstyled p-0 bg-color2 rounded-circle icon d-flex justify-content-center align-items-center">
                                <fa-icon class="f-13" [icon]="faPhone"></fa-icon>
                            </a>
                            <a href="https://wa.me/{{getDataProvider(promotion.profileProviderId, 'whatsapp') | whatsapp}}?text=Hola! {{getDataProvider(promotion.profileProviderId, 'comercialName')}}" target="_blank" title="Whatsapp" class="ml-2 p-0 bg-color1 rounded-circle icon d-flex justify-content-center align-items-center">
                                <fa-icon class="f-15 text-white" [icon]="faWhatsapp"></fa-icon>
                            </a>
                        </div>                          
                        <button (click)="goToStore(promotion.profileProviderId)" class="cursor pl-2 pr-2 bg-color2 border-0 p-1 rounded-pill f-9 font-500">Ir a la tienda</button>                        
                    </div>
                </div>               
            </div>
        </ng-template>
    </p-dataView>
    
</div>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>