@import '../../../../styles/variables';


.image{
    min-height: 50px;
    min-width: 50px;
}
input, select, textarea{
  border: 0!important;
}
textarea {
  height: 80px;
}
.controls{
    input{
        margin-left: 10px;
        margin-right: 10px;
        max-width: 40px;
        min-width: 20px;
        max-height: 30px;
        border-radius: 4px;
    }
    input:disabled{
      opacity: 1;
      background-color: white !important;
    }
    button{
        border-radius: 4px;
        min-width: 30px;
        min-height: 30px;
        background-color: $color1;
        border: none;
        color: white;
    }
}
.price{
  min-width: 40px;
}

li{
    border-bottom: 1px solid $color1;
}


@media (max-width: 480px) {
    .image-local{
        max-height: 40px !important;
        max-width: 40px !important;
    }
    .title{
        font-size: 10pt !important;
    }
}
