<app-header [eventHeader]="eventHeader"></app-header>

<div class="p-3">

    <div class="d-none d-md-block">
        <div class="filters">
            <h4 class="text-color1">Filtrar por distritos</h4>
            <div class="col-12 col-md-4 p-0 ">
                <p-multiSelect  display="chip" (onChange)="filterByDistrict()" placeholder="Seleccione un distrito" [options]="districts" [(ngModel)]="selectedDistricts" optionLabel="name" optionValue="_id"></p-multiSelect>
            </div>
        </div>
    </div>

    <div class="d-flex d-md-none justify-content-start flex-wrap">

        <p-carousel [value]="categories" [style]="{'width': '94vw'}" [numVisible]="categories.length" [circular]="true" showIndicators="false" showNavigators="false">
            <ng-template let-category pTemplate="item">
                <div class="p-2 cursor">
                    <div class="shadow icon-category image bg-color1" [ngStyle]="{'background-image': 'url('+category.image}"></div>
                    <p class="label-category text-center f-9 mt-1 m-0">{{category.name}}</p>
                </div>
            </ng-template>
        </p-carousel>

        
    </div>

    


    <div class="mt-3">
        <div class="d-flex justify-content-center">
            <button class="mx-2 px-5 rounded-pill button-switch" (click)="toogleSwitch('companies')" [ngClass]="{'btn2': switch==='companies', 'btn-disabled': switch==='promotions'}" >Negocios</button>
            <button class="mx-2 px-5 rounded-pill button-switch" (click)="toogleSwitch('promotions')" [ngClass]="{'btn2': switch==='promotions', 'btn-disabled': switch==='companies'}" >Promociones</button>
        </div>
        <app-promotion-list *ngIf="currentPromotions?.length>0 && profileProviders && switch==='promotions'" [items]="currentPromotions" [profileProviders]="profileProviders" (emitEvent)=companyListEvent($event)></app-promotion-list>
        <h4 class="text-center mt-3" *ngIf="(!currentPromotions || currentPromotions?.length === 0) && switch==='promotions'" >No se encontraron resultados</h4>
        <app-company-list *ngIf="currentProfileProviders?.length>0 && switch==='companies'" [items]="currentProfileProviders" (emitEvent)="companyListEvent($event)"></app-company-list>
        <h4 class="text-center mt-3" *ngIf="(!currentProfileProviders || currentProfileProviders?.length === 0) && switch==='companies'" >No se encontraron resultados</h4>
    </div>
    

</div>





<app-footer></app-footer>