.icon-category{
    min-width: 80px;
    min-height: 80px;
    max-width: 80px;
    max-height: 80px;
    border-radius: 8px;
    background-position: center;
    background-size: 50%;
}
.label-category{
    width: 80px;
    overflow: hidden;   
    overflow-wrap: break-word;
}