@import './../../../../../styles/variables';

$size: 90px;
.icon-category{
    min-width: $size;
    min-height: $size;
    max-width: $size;
    max-height: $size;
    border-radius: 8px;
    background-position: center;
    background-size: 80%;
    box-shadow: 0px -1px 5px 1px rgba(166,166,166,0.84);
    -webkit-box-shadow: 0px -1px 5px 1px rgba(166,166,166,0.84);
    -moz-box-shadow: 0px -1px 5px 1px rgba(166,166,166,0.84);
}
.label-category{
    width: $size;
    overflow: hidden;
    overflow-wrap: break-word;
}

.list-subcategory {
  width: 33.3333%;
}

.title-label {
  margin-bottom: 0;
}



.btn-search {
  border-radius: 0 20px 20px 0;
  padding: 0;
}

.input-search {
  position: relative;
  max-width: 300px;
  .icon-search{
      position:absolute;
      top: 7px;
      right: 25px;
      font-size: 20px;
      color: $color5;
      z-index: 1;
  }
}
:host ::ng-deep .p-multiselect-header {
  display: none;
}

:host ::ng-deep .p-multiselect {
  font-size: 12pt;
  text-align: center;
  border-radius: 20px 0 0 20px;
  border: 0;
  font-weight: 400;
  padding-left: 40px;
  padding-right: 84px;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
:host ::ng-deep .p-multiselect-trigger {
  display: none;
}

:host ::ng-deep .p-multiselect-items .p-checkbox {
  order: 2;
}

:host ::ng-deep .p-multiselect-items .p-checkbox-label {
  order: 1;
}

:host ::ng-deep .p-multiselect-items .p-checkbox + label {
  text-align: left;
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item {
  justify-content: space-between;
  border-bottom: 1px solid $color7;
}

:host ::ng-deep .p-checkbox .p-checkbox-box {
  border-radius: 50%;
}

:host ::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: $color6;
    background: $color1;
}

:host ::ng-deep .p-checkbox-box .p-highlight {
  border-color: $color6;
  background: $color1;
}

:host ::ng-deep .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: $color6;
  background: $color1;
}

:host ::ng-deep .p-checkbox .p-checkbox-box .p-checkbox-icon {
  display: none
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  background: #ffffff;
}

:host ::ng-deep .p-multiselect:not(.p-disabled).p-focus {
  outline: none;
  box-shadow: none;
  border-color: transparent
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item:focus {
  box-shadow: none
}

:host ::ng-deep .p-multiselect-panel .p-multiselect-items:not(.p-multiselect-virtualscroll) {
  padding: 0;
}
