<app-header [eventHeader]="eventHeader"></app-header>

<div class="py-3">

  <div class="w-100 mt-2 mb-3 px-3 d-flex justify-content-between align-items-center">
      <button (click)="returnCaterogies()" class="bg-transparent px-2 f-12 font-500 border-0 d-flex align-items-center justify-content-center rounded-pill text-color5">
          <fa-icon class="f-12 icon-search mr-2 text-color5" [icon]="faArrowLeft"></fa-icon>
          Inicio
      </button>
      <label class="bold text-capitalize title-label">{{getTitle(keyword)}}</label>
  </div>

    <!-- <div class="d-none d-md-flex px-5 w-100">
        <div class="filters">
            <label>Filtrar por categorias</label>
            <p-multiSelect emptyMessage="No estisten coincidencias" emptyFilterMessage="No existen coincidencias" [maxSelectedLabels]="1"  display="chip" (onChange)="filter()" placeholder="Seleccione una categoría" [options]="categories" [(ngModel)]="selectedCategories" optionLabel="name" optionValue="_id"></p-multiSelect>
        </div>
        <div class="filters ml-3">
            <label>Filtrar por subcategorías</label>
            <p-multiSelect emptyMessage="No estisten coincidencias" emptyFilterMessage="No existen coincidencias"  display="chip" (onChange)="filter()" placeholder="Seleccione una subcategoría" [options]="subcategoriesFilter" [(ngModel)]="selectedSubcategories" optionLabel="name" optionValue="_id"></p-multiSelect>

        </div>
        <div class="filters ml-3">
            <label>Filtrar por distritos</label>
            <p-multiSelect emptyMessage="No estisten coincidencias" emptyFilterMessage="No existen coincidencias"  display="chip" (onChange)="filter()" placeholder="Seleccione un distrito" [options]="districts" [(ngModel)]="selectedDistricts" optionLabel="name" optionValue="_id"></p-multiSelect>
        </div>
    </div> -->

    <div class="d-flex justify-content-start flex-wrap px-3">
      <!--Correcion1-->
        <!-- <p-carousel [value]="itemsCarousel" [style]="{'width': '100vw'}" [autoplayInterval]="7000" [numScroll]="2" [numVisible]="5" [showIndicators]="false" [showNavigators]="false">
            <ng-template let-item pTemplate="item">
                <div (click)="redirectCarousel(item)" class="p-2 cursor">
                    <div [ngClass]="{'bg-color1': classCarrousel && item, 'bg-white': !classCarrousel}" class="icon-category image" [ngStyle]="{'background-image': 'url('+item.image}"></div>
                    <p class="label-category text-center f-7 mt-1 m-0">{{item.name}}</p>
                </div>
            </ng-template>
        </p-carousel> -->
      <div class="list-subcategory" [ngClass]="{'d-none': classCarrousel && item, 'mb-1': !classCarrousel}" *ngFor="let item of itemsCarousel">
        <div (click)="redirectCarousel(item)" class="p-2 cursor">
          <div [ngClass]="{'d-none': classCarrousel && item, 'bg-white': !classCarrousel}" class="icon-category image" [ngStyle]="{'background-image': 'url('+item.image}"></div>
          <p class="label-category text-capitalize text-center f-7 mt-1 m-0">{{item.name}}</p>
        </div>
      </div>

    </div>

    <div class="text-center">
        <h5 *ngIf="title" class="mt-3 text-color1 pl-4 pl-md-5 text-left text-capitalize">{{title}}</h5>
        <div class="d-flex justify-content-center mt-3">
            <!-- <button class="mx-2 px-5 rounded-pill button-switch" (click)="toogleSwitch('companies')" [ngClass]="{'btn2': switch==='companies', 'btn-disabled': switch==='promotions'}" >Negocios</button> -->
            <!-- <button class="mx-2 px-5 rounded-pill button-switch" (click)="toogleSwitch('promotions')" [ngClass]="{'btn2': switch==='promotions', 'btn-disabled': switch==='companies'}" >Promociones</button> -->
        </div>
        <app-promotion-list *ngIf="currentPromotions?.length>0 && profileProviders && switch==='promotions'" [items]="currentPromotions" [profileProviders]="profileProviders" (emitEvent)=companyListEvent($event)></app-promotion-list>
        <p class="f-13  text-center text-color5 mt-5" *ngIf="(!currentPromotions || currentPromotions?.length === 0) && switch==='promotions'" >No se encontraron resultados</p>
        <app-company-list *ngIf="currentProfileProviders?.length>0 && switch==='companies'" [items]="currentProfileProviders" (emitEvent)="companyListEvent($event)"></app-company-list>
        <p class="f-13  text-center text-color5 mt-5" *ngIf="(!currentProfileProviders || currentProfileProviders?.length === 0) && switch==='companies'" >No se encontraron resultados</p>
    </div>

</div>





<app-footer></app-footer>
