<div class="row m-0">
    <app-menu-provider class="d-none d-md-flex"></app-menu-provider>
    <div class="flex-1">
        <app-header-provider></app-header-provider>

        <div class="p-5">

            <h4>Panel</h4>
            <hr class="line mt-3">

            <div class="mt-5 d-flex w-100">
                <input type="date">
                <input type="date" class="ml-md-5">
            </div>

            <h5 class="mt-5">Vistas por día</h5>

            <div class="d-flex mt-4">
              <div class="rounded-left w-100 bg-color1 p-2 p-md-5 text-white text-center">
                <h4 class="font-300">Vistas</h4>
                <h1 class="bold">0</h1>
              </div>

              <div class="rounded-right w-100 border-2 border-left bg-color1 p-2 p-md-5 text-white text-center">
                <h4 class="font-300">Llamadas</h4>
                <h1 class="bold">0</h1>
              </div>
            </div>

            <div class="d-flex mt-4">
              <div class="rounded-left w-100 bg-color1 p-2 p-md-5 text-white text-center">
                <h4 class="font-300">Calificaciones</h4>
                <h1 class="bold">0</h1>
              </div>

              <div class="rounded-right w-100 border-2 border-left bg-color1 p-2 p-md-5 text-white text-center">
                <h4 class="font-300">Mensajes</h4>
                <h1 class="bold">0</h1>
              </div>
            </div>

        </div>

    </div>
</div>
