<div class="p-5">
    <div class="row m-0 justify-content-between align-items-center">
        <h4>Urls</h4>
        <button class="btn2" (click)="addEdit()">
            <i class="pi pi-plus mr-2"></i>
            Agregar
        </button>
    </div>

    <div class="mt-5">
        <p-orderList
        header="Lista de categorías"
        filterPlaceholder="Buscar por nombre"
        filterBy="name"
        [value]="items"
        [listStyle]="{'max-height':'30rem'}"
        (onReorder)="updateAll()">
            <ng-template let-item pTemplate="item" class="mt-3">
                <div class="item-list row justify-content-between align-items-center m-0 pl-2 pr-2">
                    <div>
                        <span class="font-700">Url :</span><span class="ml-3">{{item.url}}</span>
                    </div>
                    <div>
                        <button (click)="addEdit(item)" class="btn2 p-0 pl-3 pr-3">Editar</button>
                    </div>
                </div>
            </ng-template>
        </p-orderList>
    </div>
</div>

<p-dialog
    header=""
    [(visible)]="displayModal"
    [modal]="true"
    [styleClass]="'modalLogin'"
    [baseZIndex]="10000"
    [autoZIndex]="false"
    [draggable]="false"
    [resizable]="false">


    <div class="col-12 row m-0 justify-content-center">
        <div class="row m-0 p-0 flex-column col-12 col-md-6">
            <input type="text" (keyup.enter)="add()" [(ngModel)]="currentItem.url" (keyup)="invalid.url=false" [ngClass]="{'invalid': invalid.url}" [placeholder]="'Url'">
            <select (keyup.enter)="add()" [(ngModel)]="currentItem.profileProviderId" (keyup)="invalid.profileProviderId=false" class="mt-3" [ngClass]="{'invalid': invalid.profileProviderId}">
                <option value="">Seleccione el negocio</option>
                <option *ngFor="let provider of profileProviders" value="{{provider._id}}">{{provider.comercialName}}</option>
            </select>
            <div class="row align-items-center m-0 p-0 mt-3">
              <p-inputSwitch  [(ngModel)]="currentItem.isIndividual"></p-inputSwitch>
              <label class="ml-2">Tienda pública</label>
            </div>
            <button (click)="add()" class="btn1 mt-4 mb-4">Guardar</button>
            <button *ngIf="currentItem._id" (click)="confirm($event, currentItem)" class="btn3 bg-color6 pt-2 pb-2 mt-2 mb-4">Eliminar</button>
        </div>
    </div>

</p-dialog>

<p-confirmPopup [autoZIndex]="false" [baseZIndex]="1000001"></p-confirmPopup>
