@import './../../../../styles/variables';

.card1{
    padding: 14px;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid $color2;
    border-radius: 8px;
    margin: 5px;
    min-width: 140px;
    background-color: rgba($color: #ffe266, $alpha: 0);
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.card1:hover{
    background-color: rgba($color: #ffe266, $alpha: 1.0);
}