@import '../../../../styles/variables';

$size: 210px;

*{
  transition: all .3s !important;
}

.product{
    min-height: $size;

    .image-product{
        border-radius: 10px;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: $size;
        min-width: $size;
        max-width: $size;
        border: 2px solid rgba($color: #dddddd, $alpha:.3);
    }
  }

.product-list2{
  // position: absolute!important;
  margin-top: -60px;
  .image-product{
      background-repeat: no-repeat;
      background-size: cover;
      min-height: 300px;
      min-width: 100%;
      text-align: -webkit-center;
  }
}

.input-search{
    position: relative;
    max-width: 180px;
    i{
        position: absolute;
        top: 12px;
        left: 10px;
    }
    input{
        padding-left: 40px;
    }
}
.primary-price{
    font-size: 14pt;
}

.price-sub{
    color: $color5 !important;
    font-size: 11pt;
    text-decoration: line-through;
}

.description-content{
    flex: 1;
    overflow-y: auto;
    // overflow-x: hidden;
    max-height: 200px;
    .description{
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;
        white-space: -o-pre-wrap;
    }
}

.description-modal {
  width: 300px;
}


.controls{
    input{
        margin-left: 10px;
        margin-right: 10px;
        max-width: 40px;
        max-height: 30px;
        border-radius: 4px;
    }
    input:disabled{
        background-color: white !important;
    }
    button{

        border-radius: 4px;
        min-width: 30px;
        min-height: 30px;
        background-color: $color1;
        border: none;
        color: white;
    }
}
.all-list{
  .justify-content-center{
    justify-content: left!important;
  }
}

@media (max-width: 500px){
    $size: 120px;
    $size2: 600px;

    .product{
      min-height: $size;
      .sub-product{
        justify-content: space-between !important;
        width: 100%;
      }

    }
    .product2{
      width: 100%!important;
    }
    .product-list{
        .image-product{
            border-radius: 10px;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: $size;
            min-width: $size;
            max-width: $size;
            border: 2px solid rgba($color: #dddddd, $alpha:.3);
        }
    }

    .product-list2{
        .image-product{
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vw;
            min-width: 100vw !important;
            border: 0;
            border-radius: 0;
        }
    }
    .primary-price{
        font-size: 12pt;
    }

}

.opts{
  position: relative;
  overflow: auto;
  min-height: 30px;
  max-height: 200px;
}

.position-close{
  top: 0;
  left: 0;
}

.parraf{
  min-height: 50px;
  p{
    max-width: 200px;
  }
}

.title{
  max-width: 140px;
}


.title-product{
  min-height: 40px;
  h5{
    max-width: 200px;
  }
}

.bar{
  border-top: solid 4px #dddddd;
  padding-top: 10px;
}

.p-tabview-panels{
  padding: 0!important;
}

.image-modal{
  text-align: -webkit-center;
}
