<div class="product-list pb-5">

    <ng-container *ngFor="let productFormat of productsFormat;">
      <div class="d-flex justify-content-between bar mt-2">
        <h5 class="text-capitalize text-color1 f-11">{{productFormat.category}}</h5>
      </div>

      <app-product-row [products]="productFormat.products" [profileProviderId]="profileProviderId" (events)="productRowEvents($event)"></app-product-row>

    </ng-container>

</div>

<p-dialog
    header=""
    [(visible)]="displayModal"
    [modal]="true"
    [baseZIndex]="100000"
    [autoZIndex]="true"
    [draggable]="false"
    [resizable]="false"
    [style]="{'min-width': '100vw', 'min-height':'100vh'}"
    >
    <app-header [eventHeader]="eventHeader" class="cont-header"></app-header>

    <div *ngIf="currentItem" class="product-list2 d-flex flex-column align-items-center">
      <div class="product product2">
        <div class="sub-product">
          <div class="slider-image position-relative">
            <p-carousel [responsiveOptions]="responsiveOptions" [showNavigators]="false" [value]="currentItem?.images" [numVisible]="1" [numScroll]="1" [styleClass]="currentItem.images.length === 1 ? 'carousel opacity-dots': 'carousel'">
              <ng-template let-image pTemplate="item">
                <div class="image-product shadow product-big" [ngStyle]="{'background-image': 'url('+image+')'}"></div>
              </ng-template>
            </p-carousel>
              <button (click)="displayModal = false" class="position-absolute position-close bg-white p-2 mt-4 f-12 font-500 border-0 d-flex align-items-center justify-content-center text-color5">
                  <fa-icon class="f-12 icon-search mr-2 text-color5" [icon]="faArrowLeft"></fa-icon>
                  Atrás
              </button>
              </div>
              <div class="pl-5 description-modal">
                <h5 class="title">{{currentItem.name}}</h5>
                  <div class="mt-3">
                      <pre style="white-space: pre-wrap;" class="description font-p font-400 f-10">{{getDescriptionModal(currentItem.description)}}</pre>
                  </div>
                <div class="row align-items-center m-0">
                    <h5 *ngIf="currentItem.promotionalPrice" class="primary-price text-color1">{{getPrice(currentItem.promotionalPrice)}}</h5>
                    <h5 [ngClass]="{'price-sub ml-2': currentItem.promotionalPrice}" class="text-color1">{{getPrice(currentItem.price)}}</h5>
                </div>
              </div>
            </div>
            <div class="d-flex mt-3  align-items-center bg-color7 px-5 py-4">
                <div *ngIf="!isProviderPath" class="mt-1 d-flex justify-content-center">
                  <button  (click)="changeProduct(currentIndex, 'increase', currentItem)" class="btn cursor rounded-pill bg-color1 pl-sm-3 pr-sm-4 text-white"><fa-icon class="f-8 text-white px-2" [icon]="faShoppingCart"></fa-icon>Agregar</button>
                </div>
            </div>
          </div>
    </div>


</p-dialog>

