/* FONTS */
@import 'variables';

*{
    font-family: $fontP;
    font-size: 11pt;
    transition: all .15s ease-in;
    outline: none !important;
}

body, .home, footer{

    background-size: cover;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: $color11;
}

.tran{
    transition: all .2s ease-in !important;
}

.cursor{
    cursor: pointer;
}

.hide{
    display: none;
    -webkit-animation: opacity-down .2s; /* Safari 4+ */
    -moz-animation:    opacity-down .2s; /* Fx 5+ */
    -o-animation:      opacity-down .2s; /* Opera 12+ */
    animation:         opacity-down .2s; /* IE 10+, Fx 29+ */
}

.show{
    -webkit-animation: opacity .2s; /* Safari 4+ */
    -moz-animation:    opacity .2s; /* Fx 5+ */
    -o-animation:      opacity .2s; /* Opera 12+ */
    animation:         opacity .2s; /* IE 10+, Fx 29+ */
}

.hover:hover{
    opacity: .8;
}

.shadow-1{
    -webkit-box-shadow: 0px 0px 6px 0px rgba(145,145,145,1);
    -moz-box-shadow: 0px 0px 6px 0px rgba(145,145,145,1);
    box-shadow: 0px 0px 6px 0px rgba(145,145,145,1);
}


//FONTS

.font-m{
    font-family: $fontM !important;
}

.font-t{
    font-family: $fontT !important;
}

.font-p{
    font-family: $fontP !important;
}

.font-100{
    font-weight: 100 !important;
}
.font-300{
    font-weight: 300 !important;
}
.font-500{
    font-weight: 500 !important;
}
.font-700{
    font-weight: 700 !important;
}
.font-900{
    font-weight: 900 !important;
}

.semibold-condensed{
    font-stretch: condensed;
    font-weight: 500;
}

.condensed{
    font-stretch: condensed;
    font-weight: normal;
}


// COLORS

.bg-black{
    background-color: #000000;
}

.text-color1{
    color: $color1;
}

.bg-color1{
    background-color: $color1;
}

.text-color2{
    color: $color2;
}

.bg-color2{
    background-color: $color2;
}

.text-color3{
    color: $color3;
}

.bg-color3{
    background-color: $color3;
}

.text-color4{
    color: $color4;
}

.bg-color4{
    background-color: $color4;
}

.text-color5{
    color: $color5;
}

.bg-color5{
    background-color: $color5;
}

.text-color6{
    color: $color6;
}

.bg-color6{
    background-color: $color6;
}

.text-color7{
    color: $color7;
}

.bg-color7{
    background-color: $color7;
}
.text-color8{
    color: $color8;
}

.bg-color8{
    background-color: $color8;
}
.text-color9{
    color: $color6;
}

.bg-color9{
    background-color: $color6;
}

.text-color10{
    color: $color6;
}

.bg-color10{
    background-color: $color6;
}

.bg-color11{
    background-color: $color11;
}

.f-7{
    font-size: 7pt;
}
.f-8{
    font-size: 8pt;
}
.f-9{
    font-size: 9pt;
}
.f-10{
    font-size: 10pt;
}
.f-11{
    font-size: 11pt;
}
.f-12{
    font-size: 12pt;
}
.f-13{
    font-size: 13pt;
}
.f-14{
    font-size: 14pt;
}
.f-15{
    font-size: 15pt;
}
.f-16{
    font-size: 16pt;
}
.f-17{
    font-size: 17pt;
}
.f-18{
    font-size: 18pt;
}
.f-19{
    font-size: 19pt;
}
.f-20{
    font-size: 20pt;
}
.f-21{
    font-size: 21pt;
}
.f-22{
    font-size: 22pt;
}
.f-23{
    font-size: 23pt;
}
.f-24{
    font-size: 24pt;
}
.f-25{
    font-size: 25pt;
}
.f-26{
    font-size: 26pt;
}

.f-46{
    font-size: 46pt;
}


.bold{
    font-weight: 500;
}

.italic{
    font-style: italic;
}



// BUTTONS

.padButton{
    padding: 9px 30px 9px 30px;
}

.btn1{
    background-color: $color1;
    color: white;
    font-size: 11pt;
    border: none;
    min-width: 100px;
    border: 1px solid $color1;
    padding: 9px 30px 9px 30px;
}

.btn1:hover{
    opacity: 0.7;
    background-color: $color1 !important;
    border-color:  $color1 !important;
}

.btn2{
    background-color: $color2;
    color: #121212;
    font-size: 11pt;
    border: 1px solid $color2;
    min-width: 100px;
    padding: 9px 30px 9px 30px;
}
.btn2:hover{
    opacity: 0.9;
    background-color: $color2 !important;
    border-color:  $color2 !important;
    color: #121212 !important;
}

.btn3{
    background-color: $color8;
    color: white;
    font-size: 11pt;
    border: none;
    min-width: 100px;
    border-radius: 0;
}
.btn3:hover{
    background-color: $color8 !important;
    opacity: 0.7;
}

.btn-disabled{
    background-color: $color6;
    color: $color4;
    font-size: 11pt;
    border: none;
    min-width: 100px;
    border-radius: 0;
}

.btn-register{
  color: white;
  border: none;
  font-size: 11pt;
  min-height: 60px;
  border-radius: 40px;
}
.btn-facebook{
  background-color: #3F4D9C;
}
.btn-correo{
  background-color: #007DA6;
}
.btn-celular{
  background-color: #343434;
}

//SELECTS

.select1{
    option{
        font-size: 13pt;
    }
    min-height: 35px;
    border-radius: 5px;
    color: $color3;
    border: 1.5px solid white;
    font-size: 13pt;
}

.select2{
    option{
        font-size: 13pt;
    }
    min-height: 35px;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0);
    color: white;
    border: 1.5px solid white;
    font-size: 13pt;
}

.select3{
    option{
        font-size: 13pt;
    }
    min-height: 35px;
    border-radius: 5px;
    color: $color2;
    border: 1.5px solid $color5;
    font-size: 13pt;
}

.select4{
    option{
        font-size: 13pt;
    }
    min-height: 35px;
    border-radius: 5px;
    background-color: rgba($color: #000000, $alpha: 0);
    color: $color5;
    border: 1.5px solid $color5;
    font-size: 13pt;
}


.link-unstyled {
  &,
  &:visited,
  &:hover,
  &:active,
  &:focus,
  &:active:hover {
    font-style: inherit;
    color: inherit;
    text-decoration: none;

  }
}

.link-unstyled:hover{

    opacity: .8;

}


//PARRAFOS

.letter-spanded{
    letter-spacing: 4px;
}

.letter-thin{
    letter-spacing: 2px;
}

.parraf1{
    font-size: 10pt;
}



//FELX

.flex-1{
    flex: 1;
}


//KEYFRAMES

@-webkit-keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes opacity {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes opacity-down {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-moz-keyframes opacity-down {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@-o-keyframes opacity-down {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}
@keyframes opacity-down {
  0%   { opacity: 1; }
  100% { opacity: 0; }
}




//LOAD

.load{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba($color: #ffffff, $alpha: .5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000000000;
}



//GLOBALS

.image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.menu-container, .container-container{
    min-height: 100vh - 7.4;
}

::placeholder{
    color: $color6;
}

.select, .p-multiselect{
    border: 2px solid $color1;
    border-radius: 0;
    font-family: $fontP;
}

input, select, .inputs, textarea{
    border: 2px solid $color1;
    border-radius: 0;
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    font-family: $fontP;
    width: 100%;
}



@media (max-width: 1024px) {
    p-button, .p-button{
        width: 100%;
    }
}

.messages{
    position: fixed;
    top: 0;
    right: 0;
}

.loading{
    min-height: 10px;
    background-color: $color1;
    width: 0;
}

:disabled{
    background-color: $color6;
    border-color: $color6;
}

.invalid{
    border: solid 2px $color8 !important;
}

.p-button{
    border-radius: 0;
}

.p-confirm-popup-reject{
    color: $color1 !important;
}

.p-confirm-popup-accept{
    background-color: $color8 !important;
    border-color: $color8 !important;
}

.p-calendar, .p-inputtext, .p-datepicker-group-container{
    min-width: 100% !important;
}

.url{
    p-dropdown, .p-dropdown, .p-dropdown-label{
        flex: 1 !important;
        width: 100% !important;
    }
}

:disabled{
    opacity: .5;
}

.line{
    border: solid 1px $color6;
}


p-multiSelect, .p-multiselect, .p-multiselect-label-container{
    max-width: 100% !important;
    min-width: 100% !important;
}

.p-multiselect .p-multiselect-trigger{
    position: absolute;
    bottom: 10px;
    right: 0;
}

.chartjs-render-monitor{
    max-width: 100% !important;
    min-width: 100% !important;
    width: 100% !important;
}

.ui-datatable-data> tr> td {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 150px !important;
}




.slide-primary{
    .p-carousel-content{
      position: relative;
      overflow: hidden;
      border-radius: 14px;
    }
    .p-carousel-next{
        display: none !important;
    }

    .p-carousel-prev{
        display: none !important;
    }
    .p-carousel-indicators{
        position: absolute;
        bottom: 0;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .p-highlight{
        button{
            background-color: $color2 !important;
        }
    }

    .p-carousel-indicator{
        button{
            min-width: 10px !important;
            min-height: 10px !important;
            max-width: 10px !important;
            max-height: 10px !important;
            border-radius: 50% !important;
        }
    }

}

.slide-promotion{
    .p-carousel-next{
        position: absolute !important;
        right: 0 !important;
        background-color: white !important;
    }

    .p-carousel-content{
        position: relative;
        overflow: hidden;
    }

    .p-carousel-prev{
        position: absolute !important;
        left: 0 !important;
        z-index: 100 !important;
        background-color: white !important;

    }

    @media (max-width: 1024px) {
        .p-carousel-content{
            border-radius: 14px;
        }
        .p-carousel-next{
            display: none !important;
        }

        .p-carousel-prev{
            display: none !important;
        }

    }
}


.slide-products{
    .p-carousel-indicators{
        display: none !important;
    }
}

//MODAL LOGIN

.modalLogin{
    min-width: 50vw;
    max-width: 50vw;
}

@media (max-width: 768px){
    .modalLogin{
        min-width: 90vw;
        max-width: 90vw;
    }
}

//IMAGE MINUATURE

$size:100px;
.image-miniature{
    &:hover > .delete{
        opacity: 1;
    }
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: $size;
    max-width: $size;
    min-height: $size;
    max-height: $size;
    position: relative;
    .delete{
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $size;
        max-width: $size;
        min-height: $size;
        max-height: $size;
        opacity: 0;
        background-color: rgba($color: #000000, $alpha: .5);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.p-megamenu-submenu-header{
    display: none !important;
}

.p-menuitem-text{
    font-weight: 400;
}

//MODAL

.p-dialog{
    max-width: 90vw;
}

//BUTTONS P-list

.p-orderlist-controls{
    .p-ripple{
        background-color: $color1;
        border: none;
    }
}

.p-button.p-highlight{
    background-color: $color1 !important;
}

.p-ripple:hover{
    background-color: $color2 !important;
}

.p-grid{
    display: flex;
    flex-wrap: wrap;
}
.p-button-icon-only{
    min-height: 38px !important;
}


//CHECKED

.p-inputswitch-checked .p-inputswitch-slider{
    background-color: $color1 !important;
}

.p-confirm-popup-accept{
    background-color: $color1 !important;
    border: none;
    span{
        color: white !important
    }
}

.product-list{
    .p-carousel-indicators{
        display: none !important;
    }
}


.product-list{
    flex: 1 !important;
    .carousel{
        max-width: 220px !important;
    }
    .p-carousel-dots-container{
        display: none !important;
    }

}

.opacity-dots{
    .p-carousel-prev, .p-carousel-next{
        opacity: 0;
    }
}

//Scroll Bar

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color6;
}

//CArousel indicator dots

.p-carousel .p-carousel-indicators .p-carousel-indicator.p-highlight button{
    background-color: $color1;
}


@media screen and (max-width: 479px) {
    .product-list{
        .carousel{
            max-width: 210px !important;
        }
        .p-carousel-container{
            max-width: 120px !important;
        }
    }
    .product-list2{
        .p-carousel-container{
            .p-carousel-prev, .p-carousel-next{
                display: none;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .product-list{
        .carousel{
            max-width: 210px !important;
        }
        .p-carousel-container{
            display: flex;
            .p-carousel-prev, .p-carousel-next{
                display: none;
            }
        }
    }

}


//Categories and subcategories

.p-panelmenu-panel{
    .p-panelmenu-content{
        border: none !important;
    }
    margin-bottom: 10px !important;
    .item-category{
        outline: hidden !important;

        a{
            min-height: 70px !important;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
            border: none !important;
            border-radius: 10px !important;
            background-color: $color1 !important;
            cursor: pointer;
            color: white !important;
        }
        a:focus{
            box-shadow: none !important;
        }
        .p-menuitem-text{
            flex: 1 !important;
        }
        .icon{
            min-width: 40px;
            min-height: 40px;
            background-color: red;
        }
    }

    .item-subcategory{
        outline: hidden !important;
        a{
            min-height: 60px !important;
            border: none !important;
            border-radius: 10px !important;
            background-color: white !important;
            cursor: pointer;
            color: white !important;
            -webkit-box-shadow: 1px 1px 5px 0px rgba(212,212,212,1) !important;
            -moz-box-shadow: 1px 1px 5px 0px rgba(212,212,212,1) !important;
            box-shadow: 1px 1px 5px 0px rgba(212,212,212,1) !important;
            margin-bottom: 10px;
        }
        a:hover{
            background-color: #f0f0f0 !important;
        }
        a:focus{
            box-shadow: none !important;
        }
        .p-menuitem-text{
            flex: 1 !important;
        }
        .icon{
            min-width: 40px;
            min-height: 40px;
            background-color: red;
        }
    }
}


.carousel-home{
    .p-carousel-indicators{
        display:none
    }
}

.p-grid{
    justify-content: left !important;
}

.p-tabview-nav{
  justify-content: space-between;
  height: 45px;
  align-items: center;
}
.p-tabview-nav li{
  width: 100%;
}
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link{
    border-color: $color1 !important;
    background-color: $color1;
    color:#ffffff!important;
  }
  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link:hover{
    border-color: $color1 !important;
    background-color: $color1!important;
    color:#ffffff!important;
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link{
    color:$color1!important;
    justify-content: center;
}

.cropper-wrapper{
    max-width: 100% !important;
}

.p-dataview .p-paginator-bottom {
    border-width: 0 0 0 0 !important;
}

.responsiveMobile.p-dialog .p-dialog-content{
  background: transparent;
}
.responsiveMobile.p-dialog .p-dialog-header{
  background: transparent;
 }
.responsiveMobile{
  background-image: url('/assets/img/register-background.png')!important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 30vw;
  min-height: 30vh;
}

@media screen and (max-width: 767px) {
  .responsiveMobile{
    min-width: 100vw;
    min-height: 100vh;
  }
  .p-dataview.p-dataview-list .p-dataview-content > .p-grid > div{
    border: 0;
    border-width: 0;
  }
}
.p-tabview-panels{
  background-color: $color11!important;
}
.p-dataview-content{
  background-color: $color11!important;
}
.p-paginator{
  background-color: $color11!important;
}
// .slider-image{
//   .p-carousel{
//     flex-direction: initial!important;
//   }
// }
.p-dialog-content{
  padding: 0!important;
}

.p-tabview .p-tabview-panels{
  padding: 0!important;
}

.p-confirm-popup-flipped {
  top: 50%!important
}
