/* FONTS */

$fontM: MyriadPro;
$fontT: TrebuchetMS;
$fontP: Poppins;


// COLORS 


$color1: #13bf9e;
$color2: #ffe266;
$color3: #333333;
$color4: #4d4d4d;
$color5: #808080;
$color6: #A9ABAE;
$color7: #e6e6e6;
$color8: #ec7c8b;
$color9: #00a198;
$color10: #31488a;