/* FONTS */

$fontM: MyriadPro;
$fontT: TrebuchetMS;
$fontP: Poppins;


// COLORS 


$color1: #121212;
$color2: #8fbaf3;
$color3: #bdf1f6;
$color4: #f2fcfc;
$color5: #fd3a69;
$color6: #fecd1a;
$color7: #E1E9F4;
$color8: #565D68;
$color9: #bbbbbb;


